# --- Rác hệ điều hành ---
.DS_Store
Thumbs.db

# --- Rác IDE ---
.vscode/
.idea/

# --- BACKEND (.NET 8) ---
BE/[Bb]in/
BE/[Oo]bj/
BE/appsettings.Development.json

# --- FRONTEND (React) ---
FE/node_modules/
FE/dist/
FE/.env